body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: white;
  }
  
  .hero-section {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1605902711622-cfb43c44367e') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 4em;
    font-weight: bold;
  }
  .logo span {
    color: red;
  }
  
  .links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  .links a:hover {
    color: red;
  }
  
  .content {
    text-align: center;
    margin-top: 100px;
  }
  .content h2 {
    color: red;
    font-size: 1.5em;
  }
  .content h1 {
    font-size: 3em;
    margin: 20px 0;
  }
  .content span {
    color: red;
  }
  .btn {
    padding: 15px 30px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
  }
  .btn:hover {
    background-color:#ff4d4d;
  }
  body{
    background-image: url('new1.avif');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100vh;
    margin:0;
  }
  
  
  