body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e0f7fa);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styling */
form {
    background:url(gradient.jpg);
    
    background-size:cover;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}

/* Heading styling */
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #00796b;
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s ease;
    font-size: 16px;
}

input:focus {
    border-color: #00796b;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#004d40;
}
#home-icon{
    position:absolute;
    top:10px;
    right:20px;
    font-size:28px;
    text-decoration:none;
    color:balck;
    font-weight:bold;
  }
  #home-icon:hover{
    color:red;
  }
  body{
    background-color:aqua;
    background-size:cover;
  }